<div class="email-wrapper">
	<h1>Hello, {{ username }}!</h1>

	<p>We are Rivaltree, a tournament management service with realtime widgets and a slick, modern interface.</p>

	<p>Someone signed up with us using this email <a href="mailto:{{ email }}">{{ email }}</a>. If this wasn't you, you can go ahead and ignore this email. Don't sweat it!</p>

	<p>If this is you, please <a href="http://rivaltree.com/confirm/{{ token }}">confirm your account</a>. If the link doesn't work, copy and paste the URL below into your browser.</p>

	<p>http://rivaltree.com/confirm/{{ token }}</p>

	<p>Thanks!</p>
</div>
