<div class="email-wrapper">
	<h1>Welcome, {{ username }}!</h1>

	<p>You're now a part of Rivaltree! Doesn't that feel good? It only gets better because the fun time vibes don't end there!</p>

	<ul>
		<li>Head over to the <a href="http://rivaltree.com/dash/">dashboard</a> to start creating brackets</li>
		<li>Add teams or players to the bracket and start the tournament</li>
		<li>Embed our widget onto your website so your fans can keep up with live results</li>
	</ul>

	<p>If you have any question, be sure to <a href="http://rivaltree.com/contact/">contact us</a>.</p>

	<p>Thanks!</p>
</div>
