{% extends "base.html" %}

{% block title %}About Us - {% endblock %}
{% block meta_description %}Learn more about the history of rivaltree{% endblock %}

{% block container_class %}about{% endblock %}

{% block container %}
<div class="splash meeting"></div>

<section class="cap-wrapper">
	<h1>About Us</h1>

	<div class="about-body">
		<p>This is Rivaltree, and you are the Internet.</p>
		<p>What we are is your solution to running and managing your tournaments. From basketball to dodgeball to <strong>League of Legends</strong>, we take your players from seeds to champions.</p>
		<p>We saw a niche need that had to be filled and we set out to fill it. With the right combination of features including round-robin matching, real-time updating, and embeddable widgets, we want to be the best bracket for the best tournaments.</p>
	</div>

	<div class="about-side">
		<h2>Things to know</h2>
		<ul>
			<li>Started in 2016</li>
			<li>Operatin' out of Dallas, TX, y'all</li>
			<li>100% populated by tacos</li>
			<li>We're already friends</li>
		</ul>
	</div>
</section>
{% endblock %}
