{% extends "base.html" %}

{% block title %}About Us - {% endblock %}
{% block meta_description %}Learn more about the history of rivaltree{% endblock %}

{% block container_class %}cap-wrapper about{% endblock %}

{% block container %}
<h1>About Us</h1>

<p>This is Rivaltree, and you are the Internet.</p>

<p>What we are is your solution to running and managing your tournaments. From basketball to dodgeball to <em>League of Legends</em>, we take your teams and players from seeds to champions.</p>

<p>We saw a niche need that had to be filled and we set out to fill it. With the right combination of features including round-robin matching, real-time updating, and embeddable widgets, we want to be the best bracket for the best tournaments.</p>
{% endblock %}
