{% extends "base.html" %}

{% block title %}Contact Us - {% endblock %}
{% block meta_description %}Contact us over at Rivaltree{% endblock %}

{% block container_class %}contact{% endblock %}

{% block scripts %}<script src="/static/js/contact.js"></script>{% endblock %}

{% block container %}
<div class="splash phone"></div>

<section class="cap-wrapper">
	<h1>Contact Us</h1>

	<div class="contact-side">
		<p>Put your message in a bottle and we'll get back to you as soon as possible.</p>
		<p>Or feel free to try one of these other methods. Follow your heart, kid.</p>

		<ul>
			<li>
				<h3>General Contact</h3>
				<a href="contact@rivaltree.com">contact@rivaltree.com</a>
			</li>
			<li>
				<h3>Customer Support</h3>
				<a href="support@rivaltree.com">support@rivaltree.com</a>
			</li>
			<li>
				<h3>Twitter</h3>
				<a href="https://twitter.com/rivaltree">@rivaltree</a>
			</li>
		</ul>
	</div>

	<form class="contact-form" action="/contact/" method="POST">
		{% if did_send %}
		<p class="success">Great! We'll read it, frame it, bop it, and shoot something back on over to you.</p>
		{% endif %}

		{% csrf_token %}
		<label for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>
		{{ form.name.errors }}
		{{ form.name }}
		<label for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
		{{ form.email.errors }}
		{{ form.email }}
		<label for="{{ form.message.id_for_label }}">{{ form.message.label_tag }}</label>
		{{ form.message.errors }}
		{{ form.message }}
		<input type="submit" value="Ship it" class="btn btn-action" />
	</form>
</section>
{% endblock %}
