{% load filters %}

<div id="rte-{{ uuid }}" class="rte-embed {% if bracket %}rte-phase-{% filter lower %}{{ bracket.phase.1 }}{% endfilter %}{% endif %}">
	{% if not bracket %}
	<p class="rte-error">Couldn't find a bracket to embed</p>
	<p class="rte-notice">Head over to <a href="https://rivaltree.com/">Rivaltree</a> to contact us about this problem.</p>
	{% else %}
	<div class="rte-message">
		<p class="rte-alert">This bracket isn't ready!</p>
		<p class="rte-notice">Head over to <a href="https://rivaltree.com/">Rivaltree</a> in the meantime for more jollies.</p>
	</div>
	{% if bracket.has_round_robin %}
	<h3 class="rte-robin-header">Round-robin</h3>
	<div class="rte-robin">
		<table class="rte-table">
		<tbody>
			{% for round in bracket.round_robin %}
			<tr class="rte-header">
				<td colspan="4">Round {{ forloop.counter }}</td>
			</tr>
				{% for game in round %}
				<tr data-game-id="{{ game.id }}">
					<td>{{ bracket.teams|lookup:game.team1.id|lookup:"name" }}</td>
					<td data-team="1">{{ game.team1.wins }}</td>
					<td>{{ bracket.teams|lookup:game.team2.id|lookup:"name" }}</td>
					<td data-team="2">{{ game.team2.wins }}</td>
				</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>
	</div>
	{% endif %}
	<h3 class="rte-bracket-header">Elimination</h3>
	<div class="rte-bracket">
		{% for round in bracket.winners %}
		<ul class="rte-round rte-round-{{ forloop.counter0 }}">
			<li class="rte-spacer">&nbsp;</li>
			{% for game in round %}
				{% if not game %}
				<li class="rte-game rte-game-top rte-empty">&nbsp;</li>
				<li class="rte-game rte-game-spacer rte-empty">&nbsp;</li>
				<li class="rte-game rte-game-bottom rte-empty">&nbsp;</li>
				<li class="rte-spacer">&nbsp;</li>
				{% else %}
					{% if not game.team1.id %}
					<li class="rte-game rte-game-top" data-game-id="{{ game.id }}" data-team="1">
						<span class="rte-team">#{{ game.team1.seed }}</span> <span class="rte-wins"></span>
					</li>
					{% else %}
					<li class="rte-game rte-game-top {% if game.team1.wins > game.team2.wins %}rte-winner{% endif %}" data-game-id="{{ game.id }}" data-team="1">
						<span class="rte-team">{{ bracket.teams|lookup:game.team1.id|lookup:"name" }}</span> <span class="rte-wins">{{ game.team1.wins }}</span>
					</li>
					{% endif %}
					<li class="rte-game rte-game-spacer">&nbsp;</li>
					{% if not game.team2.id %}
					<li class="rte-game rte-game-bottom" data-game-id="{{ game.id }}" data-team="2">
						<span class="rte-team">#{{ game.team2.seed }}</span> <span class="rte-wins"></span>
					</li>
					{% else %}
					<li class="rte-game rte-game-bottom {% if game.team2.wins > game.team1.wins %}rte-winner{% endif %}" data-game-id="{{ game.id }}" data-team="2">
						<span class="rte-team">{{ bracket.teams|lookup:game.team2.id|lookup:"name" }}</span> <span class="rte-wins">{{ game.team2.wins }}</span>
					</li>
					{% endif %}
					<li class="rte-spacer">&nbsp;</li>
				{% endif %}
			{% endfor %}
		</ul>
		{% endfor %}
		<ul class="rte-round rte-round-{{ bracket.winners|length }}">
			<li class="rte-spacer">&nbsp;</li>
			{% if bracket.is_double_elimination %}
			<li class="rte-game rte-game-top" data-game-id="{{ bracket.winner_loser.1.0.id }}" data-team="1">
				<span class="rte-team">#1</span> <span class="rte-wins"></span>
			</li>
			<li class="rte-bracket-spacer">&nbsp;</li>
			{% else %}
			<li class="rte-game rte-game-top rte-winner rte-champion">Champion</li>
			<li class="rte-spacer">&nbsp;</li>
			{% endif %}
		</ul>
		{% if bracket.is_double_elimination %}
		<ul class="rte-round rte-round-end">
			<li class="rte-spacer">&nbsp;</li>
			<li class="rte-spacer">&nbsp;</li>
			<li class="rte-game rte-game-top rte-winner rte-champion">Champion</li>
		</ul>
		{% endif %}
	</div>
	{% if bracket.is_double_elimination %}
	<div class="rte-bracket">
		{% for round in bracket.losers %}
		<ul class="rte-round rte-round-{{ forloop.counter0 }}">
			<li class="rte-spacer">&nbsp;</li>
			{% for game in round %}
				{% if not game %}
				<li class="rte-game rte-game-top rte-empty">&nbsp;</li>
				<li class="rte-game rte-game-spacer rte-empty">&nbsp;</li>
				<li class="rte-game rte-game-bottom rte-empty">&nbsp;</li>
				<li class="rte-spacer">&nbsp;</li>
				{% else %}
					{% if not game.team1.id %}
					<li class="rte-game rte-game-top" data-game-id="{{ game.id }}" data-team="1">
						#{{ game.team1.seed }} <span class="rte-wins"></span>
					</li>
					{% else %}
					<li class="rte-game rte-game-top {% if game.team1.wins > game.team2.wins %}rte-winner{% endif %}" data-game-id="{{ game.id }}" data-team="1">
						#{{ game.team1.seed }} {{ bracket.teams|lookup:game.team1.id|lookup:"name" }} <span class="rte-wins">{{ game.team1.wins }}</span>
					</li>
					{% endif %}
					<li class="rte-game rte-game-spacer">&nbsp;</li>
					{% if not game.team2.id %}
					<li class="rte-game rte-game-bottom" data-game-id="{{ game.id }}" data-team="2">
						#{{ game.team2.seed }} <span class="rte-wins"></span>
					</li>
					{% else %}
					<li class="rte-game rte-game-bottom {% if game.team2.wins > game.team1.wins %}rte-winner{% endif %}" data-game-id="{{ game.id }}" data-team="2">
						#{{ game.team2.seed }} {{ bracket.teams|lookup:game.team2.id|lookup:"name" }} <span class="rte-wins">{{ game.team2.wins }}</span>
					</li>
					{% endif %}
					<li class="rte-spacer">&nbsp;</li>
				{% endif %}
			{% endfor %}
		</ul>
		{% endfor %}
		<ul class="rte-round rte-round-{{ bracket.winners|length }}">
			<li class="rte-bracket-spacer">&nbsp;</li>
			<li class="rte-game rte-game-bottom" data-game-id="{{ bracket.winner_loser.1.0.id }}" data-team="2">
				<span class="rte-team">#2</span> <span class="rte-wins"></span>
			</li>
			<li class="rte-spacer">&nbsp;</li>
		</ul>
		<ul class="rte-round rte-round-end">
		</ul>
	</div>
	{% endif %}
	{% endif %}
</div>
<style>
.rte-embed,
.rte-embed ul,
.rte-embed li,
.rte-embed div,
.rte-embed a,
.rte-embed p,
.rte-embed h3,
.rte-embed span,
.rte-embed table,
.rte-embed tbody,
.rte-embed tr,
.rte-embed td {
	margin: 0;
	padding: 0;
	/*font-size: 0;*/
	letter-spacing: 0;
	/*line-height: 0;*/
	border: 0;
	list-style: none;
	box-sizing: content-box;
	background: transparent;
	box-shadow: none;
	word-wrap: normal;
	float: none;
	-webkit-transition: all 0 ease;
	-moz-transition: all 0 ease;
	-ms-transition: all 0 ease;
	-o-transition: all 0 ease;
	transition: all 0 ease;
}
.rte-embed {
	width: 100%;
}
	.rte-embed.rte-phase-new .rte-robin,
	.rte-embed.rte-phase-new .rte-robin-header,
	.rte-embed.rte-phase-new .rte-bracket,
	.rte-embed.rte-phase-new .rte-bracket-header,
	.rte-embed.rte-phase-round-robin .rte-message,
	.rte-embed.rte-phase-round-robin .rte-bracket,
	.rte-embed.rte-phase-round-robin .rte-robin-header,
	.rte-embed.rte-phase-round-robin .rte-bracket-header,
	.rte-embed.rte-phase-bracket .rte-message,
	.rte-embed.rte-phase-bracket .rte-robin,
	.rte-embed.rte-phase-bracket .rte-robin-header,
	.rte-embed.rte-phase-bracket .rte-bracket-header,
	.rte-embed.rte-phase-finished .rte-message {
		display: none !important;
	}
.rte-embed .rte-table {
	width: 100%;
	margin: 10px 0 0 0;
}
.rte-embed .rte-robin {
	margin: 0 0 20px 0;
}
	.rte-embed .rte-header td {
		font-weight: bold;
		padding: 10px 0 4px 0;
		border-bottom: 1px solid #CCC;
	}
	.rte-embed .rte-header + [data-game-id] td {
		padding: 4px 0;
		border-bottom: 1px solid #EEE;
	}
	.rte-embed .rte-robin [data-game-id] td:first-child {
		padding-left: 10px;
	}
.rte-embed .rte-bracket {
	display: flex;
	flex-direction: row;
}
	.rte-embed .rte-winner {
		font-weight: bold;
	}
	.rte-bracket .rte-round {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 200px;
	}
		.rte-bracket .rte-round .rte-spacer {
			flex-grow: 1;
		}
		.rte-bracket .rte-round .rte-spacer:last-child,
		.rte-bracket .rte-round .rte-spacer:first-child {
			flex-grow: .5;
		}
		.rte-bracket .rte-round .rte-game-spacer {
			flex-grow: 1;
		}
	.rte-bracket .rte-game {
		padding: 0 20px;
	}
		.rte-bracket .rte-game.rte-empty {
			opacity: 0;
		}
		.rte-bracket .rte-game .rte-wins {
			float: right;
			margin-right: 5px;
		}
	.rte-bracket .rte-game-top {
		border-bottom: 1px solid #AAA;
	}
	.rte-bracket .rte-game-spacer,
	.rte-bracket .rte-bracket-spacer {
		border-right: 1px solid #AAA;
		min-height: 40px;
	}
		.rte-bracket .rte-bracket-spacer {
			flex-grow: 0.5;
		}
	.rte-bracket .rte-game-bottom {
		border-top: 1px solid #AAA;
	}
</style>
