{% extends "base.html" %}

{% block title %}Privacy Policy - {% endblock %}
{% block meta_description %}Rivaltree privacy policy{% endblock %}

{% block container_class %}privacy{% endblock %}

{% block container %}
<div class="splash book"></div>

<section class="cap-wrapper">
	<h1>Privacy Policy</h1>
	<span class="subheader">Last updated: March 3, 2016</span>

	<p>Your privacy is important to you and to us.</p>
	<p>This Privacy Policy describes Rivaltree LLC ("Rivaltree," "us," "we," or "our") and our practices regarding the collection, use and disclosure of the information we collect from and about you when you use Rivaltree LLC's web-based applications (the "Service"). By accessing or using the Service, you agree to this Privacy Policy and our <a href="/terms/">Terms of Service</a>.</p>

	<h2>Information You Provide to Us</h2>
	<p>We collect personal information, such as your name and email address, when you register for an account on the Service. You may also provide us with optional information such as a photograph. Your user name, email address and any optional profile information that you elect to associate with your account is referred to herein as your "Profile Information."</p>
	<p>If you are a user of our paid premium service, we will utilize a third party credit card payment processing company to collect payment information, including your credit card number, billing address and phone number. We do not store your payment information.</p>
	<p>We may use your email address to send you Service-related notices (including any notices required by law, in lieu of communication by postal mail). We may also use your email address to send you announcements and information about other products or services (including third party services) that you may be interested in (together, the "Marketing Messages"). You may opt-out of receiving Marketing Messages at any time by following the instructions provided in the Marketing Message. Through your account interface, you may also opt-out of receiving categories of Service-related notices that are not deemed by Rivaltree to be integral to your use of the Service.</p>
	<p>Even if you are not a registered user of our Service, if you email us we may retain a record of such email communication, including your email address, the content of your email, and our response.</p>

	<h2>Your Content</h2>
	<p>Some areas of the Service allow you to post or upload information, text, graphics, or other material ("Content" or, when posted by you, "your Content"), and to share your Content with others. You retain ownership of your Content, but there are many things that users may do with your Content, for example, copy it, modify it, re-share it, or broadcast it.</p>
	<p>Rivaltree LLC has no responsibility for that activity. You understand that publishing your Content on the Service is not a substitute for registering it with the U.S. Copyright Office, the Writer's Guild of America, or any other rights organization. Please consider carefully what you choose to share.</p>
	<p>Rivaltree may view your Content only as necessary (i) to maintain, provide and improve the Service; (ii) to resolve a support request from you; (iii) if we have a good faith belief, or have received a complaint alleging, that such Content is in violation of our Acceptable Use Guidelines; (iv) as reasonably necessary to allow Rivaltree to comply with or avoid the violation of applicable law or regulation; or (v) to comply with a valid legal subpoena or request that meets the requirements of our Law Enforcement Guidelines. We may also analyze the Content in aggregate and on an anonymized basis, in order to better understand the manner in which our Service is being used.</p>

	<h2>Aggregated Statistics</h2>
	<p>Rivaltree may collect statistics about the behavior of visitors to Rivaltree.com. For instance, it may monitor tournaments on Rivaltree.com to better understand the applications (sports, games, contests, etc.) for its tournament brackets. Rivaltree may display this information publicly or provide it to others. However, it does not disclose personally-identifying information other than as described below.</p>

	<h2>Information We Collect Automatically</h2>
	<p>We use technologies like cookies and pixel tags to provide, monitor, analyze, promote and improve the Service. For example, a cookie is used to remember your user name when you return to the Service and to improve our understanding of how you interact with the Service. You can block cookies on your web browser; however please be aware that some features of the Service may not function properly if the ability to accept cookies is disabled.</p>

	<h3>Log Files</h3>
	<p>When you use the Service, our servers automatically record certain information in server logs. These server logs may include information such as your web request, Internet Protocol ("IP") address, browser type, referring / exit pages and URLs, number of clicks and how you interact with links on the Service, domain names, landing pages, pages viewed, mobile carrier, and other such information. Log files help us to monitor, analyze, improve and maintain the Service and to diagnose and fix any Service-related issues.</p>

	<h3>Device Identifiers</h3>
	<p>When you access the Service using a mobile device, we collect specific device information contained in your mobile device's "device identifier." This device identifier includes information such as the type of device you are using, its operating system, and mobile network information, which may include your mobile phone number. We may associate this device identifier with your Service account and will use data associated with your device identifier to customize our Services to your device and to analyze any device-related issues.</p>

	<h3>Location Information</h3>
	<p>We may collect and process information about the location of the device from which you are accessing the Service. Location data may convey information about how you browse the Service and may be used in conjunction with personally identifiable information. You can disable location based services in settings associated with the Service; however please be aware that some features of the Service may not function properly if location services are turned off.</p>

	<h2>How We Share Your Information</h2>
	<p>We may share the information we collect from you with third parties as detailed below.</p>

	<h3>As Directed By You</h3>
	<p>We will display your Profile information on your profile page and elsewhere on the Service in accordance with the preferences you set in your account. You can review and revise your Profile information at any time.</p>
	<p>We will display your Content within the Service as directed by you.</p>
	<p>If you elect to use a third party application to access the Service, then we may share or disclose your account and Profile information and your Content with that third party application as directed by you. Please remember that we are not responsible for the privacy practices of such third parties so you should make sure you trust the application and that it has a privacy policy acceptable to you.</p>

	<h3>With Trusted Service Providers and Business Partners</h3>
	<p>We may utilize trusted third party service providers to assist us in delivering our Service. For example, we may use third parties to help host our Service, send out email updates, or process payments. These service providers may have access to your information for the limited purpose of providing the service we have contracted with them to provide. They are required to have a privacy policy and security standards in place that are at least as protective of your information as is this Privacy Policy. We may also store personal information in locations outside the direct control of Rivaltree (for instance, on servers or databases co-located with hosting providers).</p>

	<h3>With Law Enforcement or In Order to Protect Our Rights</h3>
	<p>We may disclose your information (including your personally identifiable information) if required to do so by law or subpoena and if the relevant request meets our Law Enforcement Guidelines. We may also disclose your information to our legal counsel, governmental authorities or law enforcement if we believe that it is reasonably necessary to do so in order to comply with a law or regulation; to protect the safety of any person; to address fraud, security or technical issues; or to protect Rivaltree's rights or property.</p>

	<h3>In an Aggregate and Non-Personally Identifiable Manner</h3>
	<p>We may disclose aggregate non-personally identifiable information (such as aggregate and anonymous usage data, platform types, etc.) about the overall use of our Service publicly or with interested third parties to help them understand, or to help us improve, the Service.</p>

	<h3>In Connection With a Sale or Change of Control</h3>
	<p>If the ownership of all or substantially all of our business changes, we may transfer your information to the new owner so that the Service can continue to operate. In such case, your information would remain subject to the promises and commitments contained in this Privacy Policy until such time as this Privacy Policy is updated or amended by the acquiring party upon notice to you.</p>

	<h2>How We Protect Your Information</h2>
	<p>The security of your information is important to us. When you enter sensitive information (such as a credit card number) as part of our service, we encrypt the transmission of that information using industry-standard encryption.</p>
	<p>Rivaltree uses commercially reasonable and industry-standard physical, managerial, and technical safeguards to preserve the integrity and security of your information.</p>

	<h2>Risks Inherent in Sharing Information</h2>
	<p>Although we allow you control over where you share your Content and what information is included in your Profile and take reasonable steps to maintain the security if the information associated with your account, please be aware that no security measures are perfect or impenetrable. We cannot control the actions of other users with whom you share your Content and we are not responsible for third party circumvention of any privacy settings or security measures on the Service.</p>

	<h2>Ads</h2>
	<p>Ads appearing on Rivaltree.com may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by Rivaltree and does not cover the use of cookies by any advertisers.</p>

	<h2>Children's Privacy</h2>
	<p>Our Service is not directed to persons under 13. Rivaltree does not knowingly collect or solicit personal information from anyone under the age of 13 or knowingly allow such persons to register for an account on the Service. If we become aware that we have collected personal information from a child under age 13 without verification of parental consent, we take steps to remove that information. If you believe that we might have any information from or about a child under 13, please contact us at contact@rivaltree.com.</p>

	<h2>International Data Transfer</h2>
	<p>We may transfer information that we collect about you, including personally identifiable information, to affiliated entities, or to other third parties (as provided herein) across borders and from your country or jurisdiction to other countries or jurisdictions around the world. If you are located in the European Union or other regions with laws governing data collection and use that may differ from U.S. law, please note that you are transferring information, including personal information, to a country and jurisdiction that does not have the same data protection laws as your jurisdiction, and you consent to the transfer of information to the U.S. and the use and disclosure of information about you, including personal information, as described in this Privacy Policy.</p>

	<h2>Links to Other Web Sites</h2>
	<p>We are not responsible for the practices employed by websites linked to from within the Service, nor the information or content contained therein. Please remember that when you use a link to go from the Service to another website, our Privacy Policy is no longer in effect and your activities on that third party website is subject to such third party website’s own rules and policies.</p>

	<h2>Do Not Track Signals</h2>
	<p>Some browsers have a "do not track" feature that lets you tell websites that you do not want to have your online activities tracked. We currently do not respond to "do not track" signals.</p>

	<h2>Privacy Policy Changes</h2>
	<p>Although most changes are likely to be minor, Rivaltree may change the Privacy Policy for Rivaltree.com from time to time, and in its sole discretion. Rivaltree encourages visitors to frequently check this page for any changes to the Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>

	<h2>Contact Us</h2>
	<p>For questions about these policies, please <a href="/contact/">contact us</a>.</p>
</section>
{% endblock %}
