{% extends "base.html" %}

{% block title %}Terms of Service - {% endblock %}
{% block meta_description %}Rivaltree terms of service{% endblock %}

{% block container_class %}terms{% endblock %}

{% block container %}
<div class="splash book"></div>

<section class="cap-wrapper">
	<h1>Terms of Service</h1>
	<span class="subheader">Last updated: March 3, 2016</span>

	<p>Please read these Terms and Conditions ("Terms," "Terms and Conditions") carefully before using the http://www.rivaltree.com website (the "Service") operated by Rivaltree LLC ("Rivaltree," "us," "we," or "our").</p>
	<p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users, and others who access or use the Service.</p>
	<p>By accessing or using the Service, you agree to be bound by these Terms. If you disagree with any part of the Terms, then you may not access the Service.</p>

	<h2>User License</h2>
	<p>As part of the Service, we provide downloadable client software (the "Software") for your use in connection with the Service. This Software may update automatically and if such Software is designed for use on a specific mobile or desktop operating system, then a compatible system is required for use. So long as you comply with these Terms, we grant you a limited, nonexclusive, nontransferable, revocable license to use the Software, solely to access the Service; provided, however, that this license does not constitute a sale of the Software or any copy thereof, and as between Rivaltree and You, Rivaltree retains all right, title and interest in the Software.</p>

	<h2>Your Rivaltree.com Account</h2>
	<p>If you create an account on the Service, you are responsible for maintaining the security of it, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with it. You must immediately notify Rivaltree of any unauthorized uses of your account or any other breaches of security. Rivaltree will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.</p>

	<h2>Your Content</h2>
	<p>The Service allows you to create tasks and associated information, text, files and other materials (together the "Content") and to share that Content with others. You retain ownership of your Content, but by uploading it onto the Service, you are granting us a license to use, copy, reproduce, process, adapt, publish, transmit, host and display that Content for the purpose of (i) providing you the Service and associated support; and (ii) analyzing and improving the operation of the Service.</p>
	<p>If you delete Content, Rivaltree will use reasonable efforts to remove it from the Service, but you acknowledge that caching or references to the Content may not be made immediately unavailable.</p>
	<p>We reserve the right to remove Content on the Service that violates our Acceptable Use Policy or these Terms or that we otherwise reasonably believe may create liability for Rivaltree.</p>

	<h2>Fees and Payment</h2>
	<p>Optional premium paid services are available on the Service. By selecting a premium service you agree to pay Rivaltree the fees indicated for that service. Payments will be charged on the day you sign up for a premium service and will cover the use of that service until its benefits are depleted. Premium service fees are not refundable.</p>

	<h2>Your Obligations</h2>
	<p>If you manage a tournament on the Service, post links on the Service, or otherwise make (or allow any third party to make) material available by means of the Service (any such material, "Content"), you are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text, graphics, an audio file, or computer software. By making Content available, you represent and warrant that:</p>
	<ul class="decor">
		<li>The downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party.</li>
		<li>If your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available the Content, including but not limited to any software, or (ii) secured from your employer a waiver as to all rights in or to the Content.</li>
		<li>You have fully complied with any third party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms.</li>
		<li>The Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content.</li>
		<li>The Content is not pornographic, libelous or defamatory (more info on what that means), does not contain threats or incite violence towards individuals or entities, and does not violate the privacy or publicity rights of any third party.</li>
		<li>Your tournament is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, other blogs and web sites, and similar unsolicited promotional methods.</li>
		<li>Your tournament is not named in a manner that misleads your readers into thinking that you are another person or company. For example, your tournament's URL or name is not the name of a person other than yourself or company other than your own.</li>
		<li>You have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses and effects of the materials, whether requested to do so by Rivaltree or otherwise.</li>
		<li>You will never use another user's account without permission.</li>
		<li>You will not disassemble, decompile or reverse engineer the Service or attempt or assist anyone else to do so, unless such restriction is prohibited by law.</li>
		<li>Our Service is not intended for use by persons under the age of 13. By using the Service you are representing to us that you are over the age of 13.</li>
	</ul>

	<h2>Responsibility of Website Visitors</h2>
	<p>Rivaltree has not reviewed, and cannot review, all of the material, including computer software, posted to the Service, and cannot therefore be responsible for that material's content, use or effects. By operating the Service, Rivaltree does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content.</p>
	<p>The Service may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors. The Service may also contain material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated.</p>
	<p>Rivaltree disclaims any responsibility for any harm resulting from the use by visitors of the Service, or from any downloading by those visitors of content there posted.</p>

	<h2>General Representation and Warranty</h2>
	<p>You represent and warrant that your use of the Service will be in strict accordance with the Rivaltree <a href="/privacy/">Privacy Policy</a>, with these Terms and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and your use of the Service will not infringe or misappropriate the intellectual property rights of any third party.</p>

	<h2>Termination</h2>
	<p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach these Terms.</p>
	<p>If you wish to terminate the agreement of these Terms or your Rivaltree.com account (if you have one), you may simply discontinue using the Service.</p>
	<p>All provisions of these Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>

	<h2>Disclaimer</h2>
	<p>The Service is provided "as is." Rivaltree hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Rivaltree makes no warranty that the Service will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services through, the Service at your own discretion and risk.</p>
	<p>Further, Rivaltree does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.</p>

	<h2>Limitation</h2>
	<p>In no event shall Brackets Ninja or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the Service, even if Rivaltree or a Rivaltree authorized representative has been notified orally or in writing of the possibility of such damage.</p>
	<p>Rivaltree shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</p>

	<h2>Indemnification</h2>
	<p>You agree to indemnify and hold harmless Rivaltree from and against any and all claims and expenses, including attorneys' fees, arising out of your use of the Service, including but not limited to your violation of th Terms.</p>

	<h2>Revisions and Errata</h2>
	<p>The materials appearing on Brackets Ninja's web site could include technical, typographical, or photographic errors. Rivaltree does not warrant that any of the materials on its web site are accurate, complete, or current. Rivaltree may make changes to the materials contained on its web site at any time without notice. Rivaltree does not, however, make any commitment to update the materials.</p>

	<h2>Intellectual Property</h2>
	<p>These Terms does not transfer from Rivaltree to you any of its or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with Rivaltree.</p>
	<p>Any feedback, comments, or suggestions you may provide regarding the Service is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.</p>

	<h2>Governing Law</h2>
	<p>Any claim relating to the Service shall be governed by the laws of the State of Texas without regard to its conflict of law provisions. The application of the United Nations Convention on Contracts for the International Sale of Goods is expressly excluded.</p>

	<h2>Data Transfer</h2>
	<p>In connection with providing you the Service, Rivaltree may transfer, store and process your Content in the U.S. or in any other country in which Rivaltree or its agents maintain facilities. By using the Service you consent to this transfer, processing and storage of your Content.</p>

	<h2>Copyright</h2>
	<p>Rivaltree respects the intellectual property rights of others and we expect our users to do the same. We respond to notices of alleged copyright infringement if they comply with the law, and such notices should be reported to us in accordance with its Digital Millennium Copyright Act ("DMCA") Policy.</p>
	<p>Rivaltree will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. In the case of a visitor who may infringe or repeatedly infringes the copyrights or other intellectual property rights of Rivaltree or others, it may, in its discretion, terminate or deny access to and use of the Website. In the case of such termination, Rivaltree will have no obligation to provide a refund of any amounts previously paid to it.</p>

	<h2>Links To Other Web Sites</h2>
	<p>Our Service may contain links to third ­party web sites or services that are not owned or controlled by Rivaltree.</p>
	<p>Rivaltree has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Rivaltree. shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods, or services available on or through any such web sites or services.</p>

	<h2>Changes</h2>
	<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time.  It is your responsibility to check these Terms periodically for changes. Your continued use of or access to the Service following the posting of any changes to these Terms constitutes acceptance of those changes. Rivaltree may also, in the future, offer new services and/or features through the Service (including, the release of new tools and resources). Such new features and/or services shall be subject to these Terms.</p>

	<h2>Entire Agreement; Severability; Waiver</h2>
	<p>These Terms constitute the entire agreement between you and Rivaltree concerning the Service replace any prior or contemporaneous agreements, terms or conditions applicable to your use of the Service. If a provision of these Terms is found to be unenforceable, the remaining provisions of these Terms will remain in full force and effect and an enforceable term will be substituted reflecting as closely as possible our original intent.</p>
	<p>Rivaltree's failure to enforce any provision of these Terms shall not be deemed a waiver of its right to do so later.</p>

	<h2>Assignment</h2>
	<p>These Terms and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by us without restriction. Any attempted transfer or assignment by you will be null and void.</p>

	<h2>Contact Us</h2>
	<p>If you have any questions about these Terms, please <a href="/contact/">contact us</a>.</p>
</section>
{% endblock %}
